In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('course_lead_scoring.csv')
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [3]:
df.columns

Index(['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income',
       'employment_status', 'location', 'interaction_count', 'lead_score',
       'converted'],
      dtype='object')

In [4]:
df.converted.unique()

array([1, 0])

In [5]:
df.industry = df.industry.fillna('NA')
df.employment_status = df.employment_status.fillna('NA')
df.location = df.location.fillna('NA')

### Question 1

What is the most frequent observation (mode) for the column `industry`?

- `NA`
- `technology`
- `healthcare`
- `retail`

In [6]:
df.industry.value_counts()

industry
retail           203
finance          200
other            198
healthcare       187
education        187
technology       179
manufacturing    174
NA               134
Name: count, dtype: int64

### Question 2

Create the [correlation matrix](https://www.google.com/search?q=correlation+matrix) for the numerical features of your dataset.
In a correlation matrix, you compute the correlation coefficient between every pair of features.

What are the two features that have the biggest correlation?

- `interaction_count` and `lead_score`
- `number_of_courses_viewed` and `lead_score`
- `number_of_courses_viewed` and `interaction_count`
- `annual_income` and `interaction_count`

Only consider the pairs above when answering this question.

In [17]:
numerical = ['annual_income', 'number_of_courses_viewed', 'interaction_count', 'lead_score']
categorical = ['industry', 'employment_status', 'location']

In [18]:
df[numerical].corrwith(df.converted)

annual_income               0.078256
number_of_courses_viewed    0.435914
interaction_count           0.374573
lead_score                  0.193673
dtype: float64

In [12]:
df[['interaction_count', 'lead_score']].corrwith(df.converted)

interaction_count    0.374573
lead_score           0.193673
dtype: float64

In [13]:
df[['number_of_courses_viewed', 'lead_score']].corrwith(df.converted)

number_of_courses_viewed    0.435914
lead_score                  0.193673
dtype: float64

In [14]:
df[['number_of_courses_viewed', 'interaction_count']].corrwith(df.converted)

number_of_courses_viewed    0.435914
interaction_count           0.374573
dtype: float64

In [15]:
df[['annual_income', 'interaction_count']].corrwith(df.converted)

annual_income        0.078256
interaction_count    0.374573
dtype: float64