In [25]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [26]:
df = pd.read_csv('../03_Classification/course_lead_scoring.csv')

In [27]:
df.columns

Index(['lead_source', 'industry', 'number_of_courses_viewed', 'annual_income',
       'employment_status', 'location', 'interaction_count', 'lead_score',
       'converted'],
      dtype='object')

In [28]:
df.industry = df.industry.fillna('NA')
df.employment_status = df.employment_status.fillna('NA')
df.location = df.location.fillna('NA')
df.lead_source = df.lead_source.fillna('NA')

In [29]:
numerical = ['annual_income', 'number_of_courses_viewed', 'interaction_count', 'lead_score']
categorical = ['lead_source','industry', 'employment_status', 'location']

In [30]:
for col in numerical:
  df[col] = df[col].fillna(0)

In [31]:
for col in categorical:
  df[col] = df[col].fillna('NA')

In [32]:
df[categorical]

         lead_source       industry employment_status       location
0           paid_ads             NA        unemployed  south_america
1       social_media         retail          employed  south_america
2             events     healthcare        unemployed      australia
3           paid_ads         retail                NA      australia
4           referral      education     self_employed         europe
...              ...            ...               ...            ...
1457        referral  manufacturing     self_employed  north_america
1458        referral     technology           student         europe
1459        paid_ads     technology           student  north_america
1460        referral             NA     self_employed  north_america
1461  organic_search        finance           student  north_america

[1462 rows x 4 columns]

In [33]:
df[numerical]

      annual_income  number_of_courses_viewed  interaction_count  lead_score
0           79450.0                         1                  4        0.94
1           46992.0                         1                  1        0.80
2           78796.0                         5                  3        0.69
3           83843.0                         2                  1        0.87
4           85012.0                         3                  3        0.62
...             ...                       ...                ...         ...
1457            0.0                         1                  4        0.53
1458        65259.0                         3                  2        0.24
1459        45688.0                         1                  3        0.02
1460        71016.0                         5                  0        0.25
1461        92855.0                         3                  3        0.41

[1462 rows x 4 columns]

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
df_full_train , df_test = train_test_split(df, test_size=0.2, random_state=1)

In [36]:
len(df_full_train), len(df_test)

(1169, 293)

In [37]:
df_train , df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [38]:
len(df_train), len(df_val), len(df_test)

(876, 293, 293)